@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  --radio-from: hsl(192, 100%, 67%);
  --radio-to: hsl(280, 87%, 65%);
}

@layer components {
  *{
    @apply transition duration-1000
  }
  .card{
    @apply bg-white text-todo-light dark:text-todo-dark dark:bg-card-dark;
  }
  .radio + label{
    @apply relative flex-none w-5 h-5 p-px pb-[0.5px] bg-todo-light dark:bg-todo-dark rounded-full transition-all duration-300 cursor-pointer
  }
  .radio + label:hover{
    @apply bg-gradient-to-r from-[var(--radio-from)] to-[var(--radio-to)]
  }
  .radio:checked + label{
    @apply bg-gradient-to-r from-[var(--radio-from)] to-[var(--radio-to)]
  }
  .radio:checked + label > span{
    @apply hidden
  }
  .completed{
    @apply text-completed-light dark:text-completed-dark
  }
  .banner, .banner-dark{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner{
    background-image: url('/images/bg-desktop-light.jpg');
  }
  .dark .banner{
    background-image: url('/images/bg-desktop-dark.jpg');
  }
  .banner-dark{
    background-image: url('/images/bg-desktop-dark.jpg');
  }

  @media (max-width: 640px){
    .banner{
      background-image: url('/images/bg-mobile-light.jpg');
    }
    .dark .banner{
      background-image: url('/images/bg-mobile-dark.jpg');
    }
    .banner-dark{
      background-image: url('/images/bg-mobile-dark.jpg');
    }
  }
}